@model List<Student>

<h2>Lista Studenti</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var studente in Model)
        {
            <tr>
                <td>@studente.Nome</td>
                <td>@studente.Cognome</td>
                <td>
                    <button class="btn btn-info" onclick="CaricaDettagli(@studente.Id)">Dettagli</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="dettagliModal"></div>

<script>

    async function CaricaDettagli(id) {
        try {
            let response = await fetch(`/Studente/Dettagli/${id}`);
            if (!response.ok) {
                throw new Error('Errore nel caricamento dei dettagli');
            }
            let data = await response.text();
            document.getElementById('dettagliModal').innerHTML = data;
        } catch (error) {
            console.error('Errore:', error);
        }
    }

    async function ModificaStudente() {
        try {

        } catch (error) {
            console.error('Error: ', error)
        }

    }

</script>
